{% extends "shop/base.html" %}

{% block title %}Produtos{% endblock %}

{% block content %}
    <h1>Produtos</h1>
    {% for produto in produtos %}
        <div>
            <h2><a href="{{ produto.get_absolute_url }}">{{ produto.nome }}</a></h2>
            <p>{{ produto.descricao }}</p>
            <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
        </div>
    {% endfor %}
    <div>
        <h2>Categorias</h2>
        <ul>
            <li {% if not categoria %}class="selected"{% endif %}>
                <a href="{% url 'shop:produto_list' %}">Todas</a>
            </li>
            {% for c in categorias %}
                <li {% if categoria.slug == c.slug %}class="selected"{% endif %}>
                    <a href="{{ c.get_absolute_url }}">{{ c.nome }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}